<section class="inner-banner2 clearfix">
  <div class="container clearfix">
    <h2>Contáctanos</h2>
  </div>
</section>
<section class="breadcumb-wrapper">
  <div class="container clearfix">
    <ul class="breadcumb">
      <li><a href="javascript:void(0)">Inicio</a></li>
      <li><span>Contáctanos</span></li>
    </ul>
  </div>
</section>
<!-- Contact us Page-->
<section class="core-projects touch">
  <div class="sectpad touch_bg">
    <div class="container clearfix">
      <h1>Comunícate con nosotros</h1>
      <div class="row touch_middle">
        <div class="col-md-4 open_hours">
          <div class="touch_top-con">
            <ul class="nav">
              <li class="item">
                <div class="media">
                  <div class="media-left"><a href="javascript:void(0)"><i class="fa fa-map-marker"></i></a></div>
                  <div class="media-body">Av. Ortega y Gasset, Distrito Nacional</div>
                </div>
              </li>
              <li class="item">
                <div class="media">
                  <div class="media-left"><a href="javascript:void(0)"><i class="fa fa-envelope-o"></i></a></div>
                  <div class="media-body"><a href="mailto:info@suplidoresmella.com">info@suplidoresmella.com</a></div>
                </div>
              </li>
              <li class="item">
                <div class="media">
                  <div class="media-left"><a href="javascript:void(0)"><i class="fa fa-phone"></i></a></div>
                  <div class="media-body">+1 (809) 565-6751<br> +1 (809) 565-2060</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d562.4393909539205!2d-69.92211642061767!3d18.50058616736263!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8eaf89a5b5187aff%3A0xb0edcb6820ae14d8!2sFerreteria%20Suplimella!5e0!3m2!1sen!2sdo!4v1637167083366!5m2!1sen!2sdo"
  width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy">
</iframe>
