<div id="minimal-bootstrap-carousel" style="margin-top: .5rem;" data-ride="carousel" class="carousel slide carousel-fade shop-slider full_width ver_new_1_slider">
  <div role="listbox" class="carousel-inner">
    <div style="background-image: url(/assets/images/sliders/1.png);" class="item active"></div>
    <div style="background-image: url(/assets/images/sliders/2.png);" class="item "></div>
    <div style="background-image: url(/assets/images/sliders/3.png);" class="item "></div>
    <div style="background-image: url(/assets/images/sliders/4.png);" class="item "></div>
    <div style="background-image: url(/assets/images/sliders/5.png);" class="item "></div>
    <div style="background-image: url(/assets/images/sliders/6.png);" class="item "></div>
    <div style="background-image: url(/assets/images/sliders/7.png);" class="item "></div>
    <div style="background-image: url(/assets/images/sliders/8.png);" class="item "></div>
    <div style="background-image: url(/assets/images/sliders/9.png);" class="item "></div>
    <div style="background-image: url(/assets/images/sliders/10.png);" class="item "></div>
    <div style="background-image: url(/assets/images/sliders/11.png);" class="item "></div>
  </div>
  <a href="#minimal-bootstrap-carousel" role="button" data-slide="prev" class="left carousel-control"><i class="fa fa-angle-left"></i><span class="sr-only">Previous</span></a><a href="#minimal-bootstrap-carousel" role="button" data-slide="next" class="right carousel-control"><i class="fa fa-angle-right"></i><span class="sr-only">Next</span></a>
</div>
