<main class="section" style="margin-top: 8%;" role="contentinfo">
  <div class="container">

    <div class="table-bordered align-content-center">
      <img src="assets/images/products/tablet.png" alt="imagen-producto">
    </div>

    <div class="mt-2 mb-2">
      <h4>Tablet 7” /LCD/ 188.6x108.5x10.2mm</h4>
    </div>

    <div class="mt-2 mb-5">
      <a class="btn btn-danger" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Especificaciones del producto
      </a>
    </div>

    <div class="collapse mb-5" id="collapseExample">
      <div class="table-responsive mb-5">
        <table class="table table-striped table-bordered">

          <thead>
            <tr>
              <th colspan="3">System Physical Standard Configuration:</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Type</th>
              <th>Details</th>
              <th>Descriptions</th>
            </tr>

            <tr>
              <td>Brand</td>
              <td colspan="2">TCST</td>
            </tr>

            <tr>
              <td rowspan="2">Product Form</td>
              <td>Default Orientation</td>
              <td>Portrait</td>
            </tr>

            <tr>
              <td>Dimensions</td>
              <td></td>
            </tr>

            <tr>
              <td rowspan="2">LCD</td>
              <td>Screen Size</td>
              <td>7"</td>
            </tr>

            <tr>
              <td>Screen Resolution</td>
              <td>1200*1920 mipi</td>
            </tr>

            <tr>
              <td>TP</td>
              <td>Touch Module</td>
              <td>Capacitive</td>
            </tr>

            <tr>
              <td rowspan="3">Battery</td>
              <td>Type</td>
              <td>Lithium-ion polymer battery</td>
            </tr>

            <tr>
              <td>Capacity</td>
              <td>3.7V/3800mAh</td>
            </tr>

            <tr>
              <td>Endurance</td>
              <td>5 hours</td>
            </tr>
          </tbody>

          <thead>
            <tr>
              <th colspan="3">System hardware configuration:</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Type</th>
              <th>Details</th>
              <th>Descriptions</th>
            </tr>

            <tr>
              <td>CPU</td>
              <td>Type</td>
              <td>A133  Quad-core ARM CortexTM-A53@1.6GHz <br/>
                32 KB L1 I-cache + 32 KB L1 D-cache per core, 512 KB L2 cache<br/>
                Low-power CoolFlex™ power management architecture</td>
            </tr>

            <tr>
              <td>GPU</td>
              <td>Type</td>
              <td>IMG PowerVR GE8300 <br/>
                Supports OpenGL ES3.2, Vulkan1.1, OpenCL1.2</td>
            </tr>

            <tr>
              <td>GPU</td>
              <td>Type</td>
              <td>IMG PowerVR GE8300 <br/>
                Supports OpenGL ES3.2, Vulkan1.1, OpenCL1.2</td>
            </tr>

            <tr>
              <td rowspan="3">Multi-media <br/>
                (Hardware decoding)</td>
              <td>Photo Viewer</td>
              <td>BMP, JPG, GIF, PNG</td>
            </tr>

            <tr>
              <td>Video Format</td>
              <td>Supports  H.265 video decoder 4K@30fps, H.264 video decoder 4K@30fps, VP9 video decoder 720p@30fps <br/>
                H.264 video encoder 1080p@60fps <br/>
                MJPEG/JPEG Baseline encoder 4K@15fps</td>
            </tr>

            <tr>
              <td>Audio Format</td>
              <td>MP3,WMA,WAV,OGG,FLAC,ALAC,APE,AAC,AC-3,DTS (need license)</td>
            </tr>

            <tr>
              <td>RAM</td>
              <td>Capacity</td>
              <td>Supports Lpddr 2G</td>
            </tr>

            <tr>
              <td>ROM  Flash</td>
              <td>Capacity</td>
              <td>Supports EMMC 32G</td>
            </tr>

            <tr>
              <td rowspan="2">Camera</td>
              <td>Front</td>
              <td>5 MP</td>
            </tr>

            <tr>
              <td>Rear</td>
              <td>2 MP</td>
            </tr>

            <tr>
              <td>Speaker</td>
              <td>Size</td>
              <td>Built-in 8Ω/1W speaker x 1</td>
            </tr>

            <tr>
              <td>G-sensor</td>
              <td>Built-in</td>
              <td>Gravity acceleration sensor</td>
            </tr>
          </tbody>

          <thead>
            <tr>
              <th colspan="3">Network Connections:</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Type</th>
              <th>Details</th>
              <th>Descriptions</th>
            </tr>

            <tr>
              <td>WIFI</td>
              <td>WIFI module</td>
              <td>Allwinner XR829 802.11 b/g/n + BT4.2    AW_CM256SM </td>
            </tr>

            <tr>
              <td>3G</td>
              <td>External</td>
              <td>3G/4G USB dongle</td>
            </tr>

            <tr>
              <td>Ethernet Network</td>
              <td>MiNi USB switch to Ethernet Network</td>
              <td>Supportive</td>
            </tr>
          </tbody>

          <thead>
            <tr>
              <th colspan="3">Interface configuration:</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <th>Type</th>
              <th>Details</th>
              <th>Descriptions</th>
            </tr>

            <tr>
              <td>Memory card socket</td>
              <td>External memory</td>
              <td>Support SDHC/SDXC</td>
            </tr>

            <tr>
              <td>USB interface	</td>
              <td>Data transfer supportive	</td>
              <td>Type-C OTG</td>
            </tr>

            <tr>
              <td>Headphone jack 	</td>
              <td>Music output</td>
              <td>∮ 3.5mm standard headphone jack </td>
            </tr>

            <tr>
              <td>DC Conector</td>
              <td>Power</td>
              <td>Type-C</td>
            </tr>

            <tr>
              <td>Keyboard</td>
              <td>Input device</td>
              <td>Wired / Wireless Supportive</td>
            </tr>

            <tr>
              <td>Mouse</td>
              <td>Input device</td>
              <td>Wired / Wireless Supportive</td>
            </tr>
          </tbody>

          <thead>
            <tr>
              <th colspan="3">Necessary Accessories:</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Type</th>
              <th>Details</th>
              <th>Descriptions</th>
            </tr>

            <tr>
              <td>3.5-inch headphone</td>
              <td>Standard Configuration</td>
              <td>Standard stereo headphones</td>
            </tr>

            <tr>
              <td>Power adapter</td>
              <td>Standard Configuration</td>
              <td>5V/2A</td>
            </tr>

            <tr>
              <td>Data cable</td>
              <td>Standard Configuration</td>
              <td>Connect to PC</td>
            </tr>

            <tr>
              <td>Patch cord</td>
              <td>Standard Configuration</td>
              <td>OTG to HOST</td>
            </tr>
          </tbody>

          <thead>
            <tr>
              <th colspan="3">Software Configuration:</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <th>Type</th>
              <th>Details</th>
              <th>Descriptions</th>
            </tr>

            <tr>
              <td rowspan="4">Battery</td>
              <td>Operating system version</td>
              <td>Android 11</td>
            </tr>

            <tr>
              <td>Language</td>
              <td>Multi language support</td>
            </tr>

            <tr>
              <td>Flash</td>
              <td>FLASH Supports hardware decoding，FLASH 11</td>
            </tr>

            <tr>
              <td>HTML5</td>
              <td>Supports</td>
            </tr>

            <tr>
              <td rowspan="14">System Software</td>
              <td>Email</td>
              <td>Email</td>
            </tr>

            <tr>
              <td>Browser</td>
              <td>Browser</td>
            </tr>

            <tr>
              <td>Calculator</td>
              <td>Calculator</td>
            </tr>

            <tr>
              <td>Calendar</td>
              <td>Calendar</td>
            </tr>

            <tr>
              <td>Clock</td>
              <td>Clock</td>
            </tr>

            <tr>
              <td>Search</td>
              <td>Search</td>
            </tr>

            <tr>
              <td>Gallery</td>
              <td>Gallery</td>
            </tr>

            <tr>
              <td>Downloads</td>
              <td>Downloads</td>
            </tr>

            <tr>
              <td>Camera</td>
              <td>Camera</td>
            </tr>

            <tr>
              <td>Music</td>
              <td>Music</td>
            </tr>

            <tr>
              <td>MoviePlayer</td>
              <td>MoviePlayer</td>
            </tr>

            <tr>
              <td>FileBrowser</td>
              <td>FileBrowser</td>
            </tr>

            <tr>
              <td>AppInstaller</td>
              <td>AppInstaller</td>
            </tr>

            <tr>
              <td>Settings</td>
              <td>Settings</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</main>
